body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}


.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
}

.nav-links li {
  background: #38bdf8;
  color: black;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}


.main {
  display: flex;
  padding: 20px;
  gap: 20px;
}


.products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-weight: bold;
  margin: 5px 0;
}

.card button {
  margin-top: auto;
  padding: 8px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cart-item {
  margin-bottom: 12px;
}

.cart button {
  padding: 4px 8px;
  margin: 0 5px;
}


.auth {
  max-width: 380px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.switch-auth {
  margin-top: 12px;
}

.switch-link {
  color: #0ea5e9;
  cursor: pointer;
  font-weight: bold;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
  overflow-x: hidden;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
  }

  .main {
    flex-direction: column;
  }

  
  .cart {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
  }

  
  .cart h2 {
    font-size: 18px;
  }

  .products {
    grid-template-columns: 1fr;
  }


  .card {
    padding: 10px;
  }

  .card img {
    height: 100px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  .card button {
    padding: 6px;
    font-size: 14px;
  }
}
